<launch>
    <arg name = "debug" default = "false"/>
    <arg name = "multi_calib_path"/>
    <arg name = "calib_config_path" default = "$(find auto_mlcc)/config/config_good.yaml"/>
    <arg name = "image_path"/>
    <arg name = "pcd_path" default = ""/>

    <rosparam command="load" file="$(arg multi_calib_path)" />
    <param name="calib_config_path" value="$(arg calib_config_path)" type="string"/>
    <param name="image_path" value="$(arg image_path)" type="string"/>
    <param name="multi_calib_path" value="$(arg multi_calib_path)" type="string"/>
    <param name="pcd_path" value="$(arg pcd_path)" type="string"/>
    
    <node pkg="livox_camera_calib" type="calib_tune" name="calib_tune" output="screen" 
    launch-prefix="xterm -e gdb --args" if = "$(arg debug)"/>

    <node pkg="livox_camera_calib" type="calib_tune" name="calib_tune" output="screen" 
    unless = "$(arg debug)"/>

    <!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/> -->
    <node pkg="rqt_gui" type="rqt_gui" name = "calib_tune_gui"
        args="--perspective-file $(find livox_camera_calib)/config/calib_tune_gui.perspective"/>

    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find livox_camera_calib)/rviz_cfg/calib.rviz"/> -->



</launch>
